people.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="people" type="peopleType"/>
  <xs:complexType name="healthprofileType">
    <xs:sequence>
      <xs:element type="xs:string" name="lastUpdate"/>
      <xs:element type="xs:float" name="weight"/>
      <xs:element type="xs:float" name="height"/>
      <xs:element type="xs:float" name="bmi"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personType">
    <xs:sequence>
      <xs:element type="xs:string" name="firstname"/>
      <xs:element type="xs:string" name="lastname"/>
      <xs:element type="xs:date" name="birthdate"/>
      <xs:element type="healthprofileType" name="healthprofile"/>
    </xs:sequence>
    <xs:attribute type="xs:long" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="peopleType">
    <xs:sequence>
      <xs:element type="personType" name="person" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
